@import "../../default.scss";


.base-layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
        flex-grow: 1;
    }
}

.cart {
    &__wrap {}

    &__maintitle {
        font-family: 'Nekst';
        font-weight: 900;
        font-size: 54px;
        line-height: 49px;
        color: #111111;
        margin: 0 0 32px 0;

        @media (max-width: 1023px) {
            margin-bottom: 44px;
        }

        @media (max-width: 767px) {
            font-size: 34px;
            line-height: 31px;
            margin-bottom: 32px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
        column-gap: 32px;

        @media (max-width: 1023px) {
            grid-template-columns: auto;
        }

        @media (max-width: 767px) {
            row-gap: 16px;
        }
    }

    &__item {
        &:last-child {
            align-self: flex-end;
        }

        &.disabled {
            opacity: 0.4;
            pointer-events: none;
        }
    }

    &__title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #575757;
        margin-bottom: 24px;

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 8px;
        }
    }

    &__text {
        font-family: 'Nekst';
        font-weight: 900;
        font-size: 54px;
        line-height: 49px;
        color: #333333;

        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 20px;
        }
    }


    &__button {
        width: 100%;
        padding: 8px 16px 12px;
        background: #FF9514;
        border-radius: 40px;
        height: 68px;
        border: none;
        font-family: 'Nekst';
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;

        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 20px;
            margin-top: 28px;
        }

        &:hover {
            background: #111111;
        }

        &:hover {
            background: #575757;
        }

        &.disabled {
            background: rgba(255, 149, 20, 0.4);
        }

        &.load {
            position: relative;
            font-size: 0;

            &::before {
                position: absolute;
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8691 19.3825C11.9455 20.1121 9.83718 20.1976 7.86093 19.6261C5.88468 19.0546 4.14734 17.857 2.91009 16.2134C1.67285 14.5698 1.00256 12.569 1.00001 10.5118C0.99745 8.45459 1.66276 6.45212 2.89591 4.80546C4.12906 3.15879 5.86342 1.95691 7.83825 1.38051C9.81307 0.804109 11.9216 0.88433 13.847 1.60911C15.7723 2.3339 17.4103 3.66408 18.5148 5.39968C19.6193 7.13528 20.1305 9.18251 19.9716 11.2336' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: 50%;
                width: 21px;
                height: 21px;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                animation: spin 2s linear infinite;
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(359deg);
            }
        }
    }

    &__field {

        position: relative;
        font-family: 'Nekst';
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        color: #575757;

        input {
            border: none;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            appearance: none;
            padding: 16px 75px 16px 24px;
            width: 100%;
            background: #F3F3F4;
            font-size: 30px;
            line-height: 36px;
            border-radius: 16px;
            height: 68px;
            color: #575757;
            outline: none;
            border: 2px solid transparent;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type=number] {
                -moz-appearance: textfield;
            }

            &:hover {
                outline: none;
            }

            &:active,
            &:focus,
            &:focus-within {
                border: 2px solid #F3F3F4;
                background: transparent;
            }

            // &:focus-visible {
            //     background-color: red;
            // }

            // &:focus-within {
            //     background-color: blue;
            // }

            // &:focus {
            //     // background-color: yellow;
            // }

            // &[value=""] {
            //     background-color: red;
            // }

            // &:not([value=""]) {
            //     background-color: blue;
            // }
        }
    }

    &__range {
        padding: 0 24px;
    }


    &__badge-color {
        width: 69px;
        height: 54px;
        background: #EBEBEC;
        border-radius: 16px;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #575757;
        position: absolute;
        top: 7px;
        right: 7px;
        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 20px;
        }

    }

    &__badge {
        position: absolute;
        top: 22px;
        right: 24px;
        font-size: 30px;
        line-height: 36px;

        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 20px;
        }
    }
}


.range-slider {}