@import "../../default.scss";

body {
    background-size: cover;
    background-image: url("../../assets/images/Pattern.png");
}

.base-layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
        flex-grow: 1;
    }
}

.cart {
    &__wrap {}

    &__maintitle {
        font-family: 'Nekst';
        font-weight: 900;
        font-size: 54px;
        line-height: 49px;
        color: #111111;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
        column-gap: 32px;
    }

    &__item {
        &:last-child {
            align-self: flex-end;
        }

        &.disabled {
            opacity: 0.4;
            pointer-events: none;
        }
    }

    &__title {
        margin-bottom: 24px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #575757;
    }

    &__text {
        font-family: 'Nekst';
        font-weight: 900;
        font-size: 54px;
        line-height: 49px;
        color: #333333;
    }


    &__button {
        width: 100%;
        padding: 8px 16px 12px;
        background: #FF9514;
        border-radius: 40px;
        height: 68px;
        border: none;
        font-family: 'Nekst';
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;

        &:hover {
            background: #111111;
        }

        &:hover {
            background: #575757;
        }

        &.disabled {
            background: rgba(255, 149, 20, 0.4);
        }

        &.load {
            position: relative;
            font-size: 0;

            &::before {
                position: absolute;
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8691 19.3825C11.9455 20.1121 9.83718 20.1976 7.86093 19.6261C5.88468 19.0546 4.14734 17.857 2.91009 16.2134C1.67285 14.5698 1.00256 12.569 1.00001 10.5118C0.99745 8.45459 1.66276 6.45212 2.89591 4.80546C4.12906 3.15879 5.86342 1.95691 7.83825 1.38051C9.81307 0.804109 11.9216 0.88433 13.847 1.60911C15.7723 2.3339 17.4103 3.66408 18.5148 5.39968C19.6193 7.13528 20.1305 9.18251 19.9716 11.2336' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: 50%;
                width: 21px;
                height: 21px;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                animation: spin 2s linear infinite;
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(359deg);
            }
        }
    }

    &__field {

        position: relative;
        font-family: 'Nekst';
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        color: #575757;

        input {
            border: none;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            appearance: none;
            padding: 16px 75px 16px 24px;
            width: 100%;
            background: #F3F3F4;
            font-size: 30px;
            line-height: 36px;
            border-radius: 16px;
            height: 68px;
            color: #575757;
            outline: none;
            border: 2px solid transparent;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type=number] {
                -moz-appearance: textfield;
            }

            &:hover {
                outline: none;
            }

            &:active, &:focus, &:focus-within {
                border: 2px solid #F3F3F4;
                background: transparent;
            }

            // &:focus-visible {
            //     background-color: red;
            // }

            // &:focus-within {
            //     background-color: blue;
            // }

            // &:focus {
            //     // background-color: yellow;
            // }

            // &[value=""] {
            //     background-color: red;
            // }

            // &:not([value=""]) {
            //     background-color: blue;
            // }
        }
    }


    &__badge-color {
        width: 69px;
        height: 54px;
        background: #EBEBEC;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        line-height: 24px;
        color: #575757;
        position: absolute;
        top: 7px;
        right: 7px;
    }

    &__badge {
        position: absolute;
        top: 22px;
        right: 24px;
    }
}


// .cart {
//     @media (min-width: 1366px) {
//         padding-top: vw(20);
//         padding-bottom: vw(20);
//     }

//     @media (max-width: 1365px) {
//         padding-top: 40px;
//         padding-bottom: 40px;
//     }

//     &__maintitle {
//         font-family: 'Exo 2';
//         text-align: center;
//         color: #FFFFFF;
//         text-shadow: 0px 1px 1px #000000;
//         font-weight: 300;
//         letter-spacing: -0.4px;


//         @media (min-width: 1366px) {
//             font-size: vw(36);
//             line-height: vw(44);
//             margin: 0 0 vw(24) 0;
//         }

//         @media (max-width: 1365px) {
//             font-size: 36px;
//             line-height: 44px;
//             margin: 0 0 24px 0;
//         }

//         &::selection {
//             background: #fff;
//             color: #000;
//         }

//         span {
//             &::selection {
//                 background: #1698D9;
//                 color: #fff;
//             }
//         }
//     }

//     &__items {

//         @media (min-width: 1366px) {
//             row-gap: vw(80);
//             column-gap: vw(80);
//             display: grid;
//             grid-template-columns: repeat(3, 1fr);
//         }

//         @media (max-width: 1365px) {
//             display: flex;
//             justify-content: center;
//             row-gap: 40px;
//             column-gap: 40px;
//         }

//         @media (max-width: 1200px) {
//             flex-wrap: wrap;
//         }
//     }

//     &__item {
//         width: 100%;
//         position: relative;
//         cursor: pointer;
//         @media (min-width: 1366px) {
//             max-width: vw(320);
//         }

//         @media (max-width: 1365px) {
//             max-width: 320px;
//         }

//         &.selected {
//             .cart__wrap {
//                 @media (min-width: 1366px) {
//                     border: vw(4) solid #E52E7A;
//                 }

//                 @media (max-width: 1365px) {
//                     border: 4px solid #E52E7A;
//                 }
//                 &:before {
//                     border-right-color: rgb(217, 22, 103);
//                 }
//             }

//             .circle-weight {
//                 background-color: rgb(217, 22, 103);
//             }

//             .cart__description {
//                 span {
//                     color: rgb(217, 22, 103);
//                 }
//             }
//         }

//         &.disabled {
//             .cart__wrap {
//                 filter: grayscale(1);
//             }

//             .cart__note {
//                 color: #FFFF66;
//             }
//         }
//     }

//     &__wrap {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         background: #fff;
//         position: relative;
//         overflow: hidden;


//         @media (min-width: 1366px) {
//             border: vw(4) solid #1698D9;
//             min-height: vw(480);
//             margin-bottom: vw(14);
//             clip-path: polygon(vw(43) 0, 100% 0, 100% 100%, 0 100%, 0 vw(43));
//             border-radius: vw(12);
//             border-top-left-radius: vw(45);
//         }

//         @media (max-width: 1365px) {
//             border: 4px solid #1698D9;
//             min-height: 480px;
//             margin-bottom: 14px;
//             clip-path: polygon(43px 0, 100% 0, 100% 100%, 0 100%, 0 43px);
//             border-radius: 12px;
//             border-top-left-radius: 45px;
//         }

//         &::before {
//             position: absolute;
//             content: "";
//             transform: rotate(45deg);

//             @media (min-width: 1366px) {
//                 top: vw(-39);
//                 left: vw(-38);
//                 width: vw(65);
//                 height: vw(66);
//                 border-right: vw(6) solid #1698D9;
//             }

//             @media (max-width: 1365px) {
//                 top: -39px;
//                 left: -37px;
//                 width: 65px;
//                 height: 66px;
//                 border-right: 6px solid #1698D9;
//             }
//         }
//     }

//     &__top {

//         @media (min-width: 1366px) {
//             padding: vw(17) vw(20) vw(11) vw(47);
//         }

//         @media (max-width: 1365px) {
//             padding: 17px 20px 11px 47px;
//         }
//     }

//     &__bottom {
//         font-size: 0;
//     }

//     &__description , span {
//         font-family: 'Trebuchet MS';
//         font-style: normal;
//         font-weight: 400;
//         color: #666666;
//         letter-spacing: 0.8px;

//         @media (min-width: 1366px) {
//             margin-bottom: vw(5);
//             font-size: vw(16);
//             line-height: vw(19);
//         }

//         @media (max-width: 1365px) {
//             margin-bottom: 5px;
//             font-size: 16px;
//             line-height: 19px;
//         }

//     }

//     &__title {
//         font-family: 'Trebuchet MS';
//         font-style: normal;
//         font-weight: 700;
//         color: #000000;
//         letter-spacing: 1.3px;

//         @media (min-width: 1366px) {
//             font-size: vw(48);
//             line-height: vw(56);
//         }

//         @media (max-width: 1365px) {
//             font-size: 48px;
//             line-height: 56px;
//         }
//     }

//     &__subtitle {
//         font-family: 'Trebuchet MS';
//         font-style: normal;
//         font-weight: 700;
//         color: #000000;
//         letter-spacing: 0.6px;

//         @media (min-width: 1366px) {
//             font-size: vw(24);
//             line-height: vw(28);
//             margin-bottom: vw(16);
//         }

//         @media (max-width: 1365px) {
//             font-size: 24px;
//             line-height: 28px;
//             margin-bottom: 16px;
//         }
//     }

//     &__text {
//         font-family: 'Trebuchet MS';
//         font-style: normal;
//         font-weight: 700;
//         color: #666666;
//         white-space: pre-line;
//         overflow-wrap: break-word;

//         @media (min-width: 1366px) {
//             font-size: vw(14);
//             line-height: vw(16);
//         }

//         @media (max-width: 1365px) {
//             font-size: 14px;
//             line-height: 16px;
//         }
//     }

//     &__note {
//         font-family: 'Trebuchet MS';
//         text-align: center;
//         color: #FFFFFF;

//         @media (min-width: 1366px) {
//             font-size: vw(13);
//             line-height: vw(15);
//         }

//         @media (max-width: 1365px) {
//             font-size: 13px;
//             line-height: 15px;
//         }
//     }

//     &__link {
//         color: #1698D9;
//         font-size: inherit;
//         line-height: inherit;
//         position: relative;
//         text-decoration: none;

//         &:before {
//             content: '';
//             position: absolute;
//             bottom: 0;
//             left: 0;
//             right: 0;
//             border-bottom: 1px dashed #1698D9;
//         }

//         &:hover:before {
//             border-bottom-color: transparent;
//         }
//     }

//     img {
//         max-width: 100%;
//         object-fit: contain;
//         width: 100%;

//         @media (min-width: 1366px) {
//             max-width: vw(294);
//             margin: 0 0 vw(-1) vw(-1);
//         }

//         @media (max-width: 1365px) {
//             max-width: 294px;
//         }
//     }
// }