@charset "utf-8";
@import url("../../fonts/stylesheet.css");

:root {
    --black: #000;
    --white: #fff;
    --text_black: #000;
    --text_white: #fff;
    --m1: #F1F1F1;
    --m2: #222222;
    --m3: #F1F1F1;
    --m4: #A7A7A7;
    --m5: #767676;
    --m6: #F7EEFF;

    --size_6xl: 72px;
    --size_5xl: 48px;
    --size_4xl: 40px;
    --size_3xl: 32px;
    --size_2xl: 24px;
    --size_xl: 20px;
    --size_l: 18px;
    --size_m: 16px;
    --size_s: 14px;
    --size_xs: 12px;
    --size_2xs: 10px;

    // --site_width: 1200px;    
    // --site_width: 1920px;    
    --site_width: 1425px;    
}


.base-container {
    width: 100%;
    margin: 0 auto;

    
    padding-left: 40px;
    padding-right: 40px;
    max-width: var(--site_width);

    // @media (min-width: 1366px) {
    //     padding-left: vw(40);
    //     padding-right: vw(40);
    //     max-width: vw(1520);
    // }

    // @media (max-width: 1365px) {
    //     padding-left: 10px;
    //     padding-right: 10px;
    //     max-width: var(--site_width);
    // }
}



body,
html {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

/* Цвет границы */
/* Фон заголовка */
/* Цвет заголовка */
/* Отступы в ячейке */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}


$vw-viewport: 1920;

//functions

@function vw($target) {
    $vw-result: calc($target * 100 / $vw-viewport * 1vw);
    @return $vw-result;
}


sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
    padding: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
}

/*border-spacing:0*/
/*td,th{padding:0}*/
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.reset-indents {
    padding: 0;
    margin: 0;
}

.reset-font {
    line-height: 0;
    font-size: 0;
}

.clear-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
}

.clearfix:after {
    clear: both;
}

.clear {
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}

.clear-self::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}

.overflowHidden {
    overflow: hidden;
}

ins {
    text-decoration: none;
}

.thumb,
.YMaps,
.ymaps-map {
    color: #000;
}

.table {
    display: table;
}

.table .tr {
    display: table-row;
}

.table .tr .td {
    display: table-cell;
}

.table0,
.table1,
.table2 {
    border-collapse: collapse;
}

.table0 td,
.table1 td,
.table2 td {
    padding: 0.5em;
}

.table1,
.table2 {
    border: 1px solid var(--tableBorder);
}

.table1 td,
.table2 td,
.table1 th,
.table2 th {
    border: 1px solid var(--tableBorder);
}

.table2 th {
    padding: 0.5em;
    color: var(--tableThColor);
    background: var(--tableThBackground);
}

.menu-default,
.menu-default ul,
.menu-default li {
    padding: 0;
    margin: 0;
    list-style: none;
}

img,
textarea,
object,
object embed,
.table-wrapper {
    max-width: 100%;
}

.table-wrapper {
    overflow: auto;
}

img {
    height: auto;
}

table img {
    max-width: none;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -webkit-locale: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: underline;
    color: var(--bgMainLink);
}

a:hover {
    text-decoration: none;
}
